@charset "utf-8";
.bg_fff{
	background: #fff;
}
.nav{
	background: #06c1ae;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #fff;
	position: relative;
	border-bottom: 1px solid #eaeaea;
	font-size: 1.1em;
}
.return_a{
	height: 44px;
	width: 100px;
	position: absolute;
	background:url(../images/back.png) no-repeat 15px center;
	background-size: 10px 17px;
	text-align: center;
	color: #7b7a7a;
}
.nav_order{
	background: #fafafa;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #333;
	position: relative;
	border-bottom: 1px solid #eaeaea;
	font-size: 1.1em;
}
.return_a_order{
	height: 44px;
	width: 100px;
	position: absolute;
	background:url(../images/back_black.png) no-repeat 15px center;
	background-size: 10px 17px;
	text-align: center;
	color: #7b7a7a;
}
/*尾部*/
.footer{
	height: 49px;
	border-top:1px solid #cecacb;
	background: #fff;
	position: fixed;
	bottom: 0px;
	width: 100%;
}
.footer ul{
	height: 49px;
}
.footer ul li{
	float: left;
	width: 25%;
	height: 49px;
	text-align: center;
}
.footer ul li a{
	color: #c7c6c6;
}
.footer ul li img{
	width: 21px;
	height: 23px;
	margin: 5px 0 0;
}
.footer ul li .f_span{
	width: 100%;
	display: block;
	font-size: .7em;
}
.footer ul li .active{
	color: #06c1ae;
}
/**/
.bg_mask {
    background: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: alpha(opacity=38);
    -moz-opacity: 0.38;
    opacity: 0.38;
    width: 100%;
    z-index: 99;
}
.bg_mask_fff {
    background: transparent;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: alpha(opacity=38);
    -moz-opacity: 0.38;
    opacity: 0.38;
    width: 100%;
    z-index: 99;
}
.fail_wrap {
	position: fixed;
	top: 32%;
	left: 50%;
	width: 100%;
	margin: 0 0 0 -50%;
	display: none;
}
.fail_box {
	background: #f8f8f8;
	position: absolute;
	left: 50%;
	width: 80%;
	z-index: 100;
	margin: 0 0 0 -40%;
	border-radius: 10px;
	padding: 20px 0;
	text-align: center;
}
.app_fail_img {
	margin: -60px 0 0;
	width: 30%
}
.fail_box span{
	color: #ff0018;
	font-size: .8em;
	display: block;
	width: 100%;
}
.fail_box p{
	color: #a4a4a4;
	font-size: .7em;
	padding: 15px 0;
}
.fail_box a{
	background: #ff0000;
	color: #fff;
	width: 60%;
	height: 35px;
	line-height: 35px;
	font-size: .8em;
	margin: 0 auto;
	border-radius: 20px;
}
/*预约成功*/
.app_success_wrap{
	text-align: center;
	padding: 80px 0;
}
.app_success_img{
	width: 30%;
}
.app_success_wrap span{
	color: #fdc151;
	font-size: .8em;
	display: block;
	width: 100%;
	margin: 10px 0;
}
.app_success_wrap p{
	color: #b2b1b1;
	font-size: .7em;
	padding: 15px 0;
}
.app_success_wrap a{
	background: #06c1ae;
	color: #fff;
	width: 60%;
	height: 35px;
	line-height: 35px;
	font-size: .8em;
	margin: 20px auto 0;
	border-radius: 20px;
}
.app_success_bottom{
	color: #b2b1b1;
	font-size: .7em;
	position: fixed;
	bottom: 15px;
	padding: 0 20px;
}
/*取消订单*/
.cancel_order_wrap {
	position: fixed;
	top: 32%;
	left: 50%;
	width: 100%;
	margin: 0 0 0 -50%;
	display: none;
}
.cancel_order_box {
	background: #fff;
	position: absolute;
	left: 50%;
	width: 80%;
	z-index: 100;
	margin: 0 0 0 -40%;
	border-radius: 10px;
	padding: 20px 0;
	text-align: center;
}
.cancel_order_box span{
	width: 100%;
	display: block;
}
.cancel_order_box a{
	width: 50%;
	float: left;
}