@charset "utf-8";
.bg_fb{
	background: #fbf9f9;
}
.nav{
	background: #fff;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #7b7a7a;
	position: relative;
	border-bottom: 1px solid #eaeaea;
}
.return_a{
	height: 44px;
	width: 100px;
	position: absolute;
	background:url(../images/back.png) no-repeat 15px center;
	background-size: 10px 17px;
	text-align: center;
	color: #7b7a7a;
}
.order_a{
	width: 16px;
	height: 20px;
	position: absolute;
	top: 3px;
	right: 17px;
}
.order_a img{
	width: 100%;
}
.service_error{
    color: #ff0000;
    display: none;
    margin-bottom: 10px;
    padding: 0 0 10px;
}