
body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    font-size: 10px;
    font-family: "Microsoft YaHei";
}

#LoginBg {
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, .5);
    box-shadow: 0 0 90px 5px rgba(0, 0, 0, 1) inset;
    background: url("../youweiIMG/bg_find_pw.jpg") no-repeat ;
    background-attachment: fixed;
    -webkit-filter: blur(10px); /* Chrome, Opera */
    background-size: 100% 100%;
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    width: 100%;
    height: 100%;
    z-index: 2;
}
#black{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .2;
    z-index:1;

}
#LoginLogo {
    position: absolute;
    left: 40%;
    top: 8%;
    background: url("../youweiIMG/icon_set.png") no-repeat;
    background-size: 425px 325px;
    display: inline-block;
    vertical-align: middle;
    text-indent: -999999px;
    background-position: -187px 0;
    width: 78px;
    height: 107px;

    z-index: 2;
}

#X {
    position: absolute;
    top: 4%;
    right: 8%;
    background: url("../youweiIMG/icon_set.png") no-repeat;
    background-size: 425px 325px;
    display: inline-block;
    vertical-align: middle;
    text-indent: -999999px;
    background-position: -200px -286px;
    width: 19px;
    height: 19px;

    z-index: 2;
}

.signin-input {
    position: absolute;
    top: 30%;
    left: 7.2%;
    background: white;
    width: 85.3%;
    height: 15%;
    z-index: 2;
}

#telNum {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 72%;
    height: 40%;
    font-size: 1.5rem;
    font-weight: 500;
    outline: medium;
    border: 0;
}

#pass {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 72%;
    height: 40%;
    font-size: 1.5rem;
    font-weight: 500;
    outline: medium;
    border: 0;
}

#input_l {
    position: absolute;
    top: 49%;
    left: 5%;
    width: 90%;
    height: 1%;
    background: #d8d8d8;
}
#identifyingCode{
    position: absolute;
    background: black;
    width: 20%;
    height: 35%;
    top:58%;
    right: 5%;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    text-align: center;
    line-height:300%;
}
#Login {
    background: #000000;
    position: absolute;
    left: 7.2%;
    top: 46.47%;
    width: 85.3%;
    height: 6.75%;
    text-align: center;
    line-height: 350%;
    border-radius: 10px;
    z-index: 2;
}
#LoginFont{
    color: white;
    font-size: 1.5rem;
}
#acceptPolicyChk{
    position: absolute;
    top:55.5%;
    left: 8.5%;
    background-image: url("../youweiIMG/icon_set.png");
    background-size: 425px 325px;
    display: inline-block;
    vertical-align: middle;
    text-indent: -999999px;
    background-position: -287px 0;
    width: 16px;
    height: 16px;

    z-index: 2;
}
#accept{
    position: absolute;
    top:55.3%;
    left: 14%;
    z-index: 2;
}
#acceptFont{
    color: white;
    font-size: 1rem;
    z-index: 2;
}
#dontName{
    color: white;
    font-size: 1rem;
    position: absolute;
    top:66%;
    left: 34%;
    text-decoration: none;
    z-index: 2;
}
#registerNow{
    position: absolute;
    top:65.22%;
    left: 53.33%;
    border: 1px solid white;
    border-radius: 5px;
    width: 10.67%;
    height: 3.69%;
    text-align: center;
    line-height: 200%;
    text-decoration: none;
    z-index: 2;
}
#registerNowFont{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    z-index: 2;
}