@charset "utf-8";
body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote，th,td{
    margin:0;padding:0;
}
body {
    font: 12px "Microsoft YaHei","微软雅黑","黑体",Arial,sans-serif; background: #fff; color: #000;
}
img {
    border:0;
}
ul,ol,dl {
    overflow: hidden;
}
ul li,ol li {
    list-style: none;
}
a {
    text-decoration: none;
    display: block;
}
h1,h2,h3,h4,h5,h6,em{
    font-weight: normal;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
.cb{
    clear: both;
}
.pr{
    position:relative;
}
.pa{
    position:absolute;
}
.hidden{
    visibility:hidden;
}
.none{
    display:none;
}

.mt5 { margin-top:5px;} .mb5 { margin-bottom:5px;} .mr5 { margin-right:5px;} .ml5 { margin-left:5px ;} 
.mt10 { margin-top:10px;} .mb10 { margin-bottom:10px;} .mr10 { margin-right:10px;} .ml10 { margin-left:10px ;} 
.mt20 { margin-top:20px;} .mb20 { margin-bottom:20px;} .mr20 { margin-right:20px;} .ml20 { margin-left:20px ;} 
.mt30 { margin-top:30px;} .mb30 { margin-bottom:30px;} .mr30 { margin-right:30px;} .ml30 { margin-left:30px ;} 
.mt40 { margin-top:40px;} .mb40 { margin-bottom:40px;} .mr40 { margin-right:40px;} .ml40 { margin-left:40px ;} 
.mt50 { margin-top:50px;} .mb50 { margin-bottom:50px;} .mr50 { margin-right:50px;} .ml50 { margin-left:50px ;}
.mt55 { margin-top:55px;} .mb55 { margin-bottom:55px;} .mr55 { margin-right:55px;} .ml55 { margin-left:55px ;} 

.pt10 { padding-top:10px;} .pb10 { padding-bottom:10px;} .pr10 { padding-right:10px;} .pl10 { padding-left:10px ;} 
.pt20 { padding-top:20px;} .pb20 { padding-bottom:20px;} .pr20 { padding-right:20px;} .pl20 { padding-left:20px ;} 
.pt30 { padding-top:30px;} .pb30 { padding-bottom:30px;} .pr30 { padding-right:30px;} .pl30 { padding-left:30px ;}
.pt40 { padding-top:40px;} .pb40 { padding-bottom:40px;} .pr40 { padding-right:40px;} .pl40 { padding-left:40px ;} 
.pt50 { padding-top:50px;} .pb50 { padding-bottom:50px;} .pr50 { padding-right:50px;} .pl50 { padding-left:50px ;} 
.pt55 { padding-top:55px;} .pb55 { padding-bottom:55px;} .pr55 { padding-right:55px;} .pl55 { padding-left:55px ;} 


.w50 { width:50px;}
.w60 { width:60px;}
.w70 { width:70px;}
.w80 { width:80px;}
.w90 { width:90px;}
.w100 { width:100px;}
.w110 { width:110px;}
.w120 { width:120px;}
.w130 { width:130px;}
.w140 { width:140px;}
.w150 { width:150px;}
.w160 { width:160px;}
.w170 { width:170px;}
.w180 { width:180px;}
.w190 { width:190px;}
.w200 { width:200px;}

input[type=button],input[type=submit]{
    cursor: pointer;
}

.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f20{font-size:20px;}
.fb{font-weight:bold;}
.fn{font-weight:normal;}
.t2{text-indent:2em;}
.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}

.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.bc{margin-left:auto;margin-right:auto;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block;}
*html .clearfix{height:1%}
.Clearfix{display:block;}
.vm{vertical-align:center;}

.middle_wrap{
    margin: 50px auto;
    width: 1004px;
}
dt{
    font-size: 16px;
    color: #a0a0a0;
    float: left;
    width: 10%;
    height: 54px;
    line-height: 32px;
}
dd{
    font-size: 16px;
    color: #a0a0a0;
    float: left;
    width: 88%;
    min-height: 54px;
    line-height: 32px;
}
dd input{
    height: 32px;
    line-height: 32px;
    width: 480px;
}
dd textarea{
    height: 98px;
    width: 478px;
    resize: none;
    padding: 2px;
}
.ajax_a{
    width: 300px;
    height: 50px;
    background: #eb5443;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 4px;
    font-size: 22px;
    border: none;
    margin: 15px 0;
    float: left;
}