#swiper-slide1{
	background:url(../img/IMG_219.png)no-repeat;
	width:100%;
	height:100%;
	background-size: 100% 100%;
}
.header{
	text-align:center;
}

.header_lf{
	position:absolute;
	height:2rem;
	line-height:2rem;
	left:2%;
	color:#fff;
	font-size: 1rem;
}

.header_rg{
	position: absolute;
    right: 2%;
    width: 3rem;
    height: 2rem;
    line-height: 2rem;
}

.header_rg i{
	position: absolute;
    background: url(../img/menu_icon.png)no-repeat 0rem -13rem;
    width: 3rem;
    height: 2rem;
}






