@charset "utf-8";
.no_ov{
	overflow-y: auto;
}
body{
	background:#f7f7f7;
}
.nav{
	display: none;
}
.nag{
	display: none;
}
.a1,.a2,.a3,.a4,.a5,.a6,.a7 ,#video,source,.com_nav,.footer,.feature_wrap,.service_infro{
    display: none;
} 
.mobile_div{
	display: block;
}
.mobile_nav{
	position: fixed;
	z-index: 100;
	height: 65px;
	background: #fff;
	top: 0px;
	left: 0px;
	width: 100%;
	display: block;
	border-bottom: 1px solid #dddddd;
}
.mobile_logo{
	padding: 12px 0 0 20px;
	width: 38px;
}
.mobile_tit{
	line-height: 65px;
	font-size: 18px;
	color: #434343;
	float: left;
	padding: 0 0 0 10px;
}
.menu-icon{
	float: right;
	padding: 25px 25px 0 0;
}
.menu-icon img{
	width: 20px;
}
.mobile_nav_ul{
	width: 100%;
	text-align: center;
	background-color: #fff;
	display: none;
	position: fixed;
	top: 66px;
	z-index: 100;
}
.mobile_nav_ul a{
	float: left;
	width: 25%;
}
.mobile_nav_ul li{
	display: inline-block;
	height: 60px;
	line-height: 60px;
	font-size: 14px;
	color: #666666;
}
.mobile_a1{
	margin: 61px 0 0;
}
.mobile_a1_bg{
	width: 100%;
}
.mobile_a1,.mobile_a2,.mobile_a3,.mobile_a4,.mobile_a5{
	position: relative;
}
/* .mobile_oper2{
	position: absolute;
	z-index: 99;
	left: 10%;
	top: 22%;
	width: 40%;
}
.mobile_oper3{
	position: absolute;
	z-index: 99;
	left: 5%;
	top: 22%;
	width: 40%;
} */
.mobile_oper2,.mobile_oper3,.mobile_oper4,.mobile_oper5{
	position: absolute;
	z-index: 99;
	left: 50%;
	top: 22%;
	width: 40%;
	margin: 0 0 0 -20%;
}
/* .mobile_oper5{
	position: absolute;
	z-index: 99;
	right: 4%;
	top: 22%;
	width: 40%;
} */
.mobile_img_tit{
	width: 100%;
}
.mobile_booking1{
	width: 70%;
	height: 38px;
	border: 1px solid #fff;
	border-radius: 3px;
	line-height: 38px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	margin: 15% auto 0;
}
.mobile_foot{
	display: block;
	background: #434343;
	padding: 20px 0;
	text-align: center;
}
.mobile_footer_bottom{
	font-size: 14px;
	color: #8e8d8d;
	text-align: center;
	padding: 10px 0 0;
}
.mobile_code{
	margin: 5px 0 10px;
}
.mobile_foot p{
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #8e8d8d;
}

/*关于我们 调整*/
.about_us{
	padding: 66px 0 0;
}
.about_txt {
	padding: 25px 3%;
	margin: 0 auto;
	width: 94%;

}
.about_txt p{
	text-indent: 29px;
	color: #434343;
	font-size: 1.1em;
	line-height: 30px;
	padding: 0 0 15px;
	letter-spacing: 3px;
	width: 100%;
}
.plane_icon{
	width: 5%;
}
.about_bottom_txt p{
	color: #757474;
	font-size: 12px;
	position: absolute;
	z-index: 99;
	top: 56%;
	left: 50%;
	width: 66%;
	margin: 0 0 0 -33%;
	text-align: center;
}
.about_bottom_img{
	width: 100%;
}
.about_bottom_num{
	position: absolute;
	z-index: 99;
	top: 77%;
	left: 50%;
	width: 86%;
	margin: 0 0 0 -43%;
	text-align: center;
	color: #757474;
	font-size: 15px;
}
.about_bottom_num span{
	padding: 0 10px 0 0;
}
.about_bottom_num em{
	font-style: normal;
	color: #070707;
}
/*招募飞手调整*/
.recruit_headimg{
	padding: 66px 0 0;
}
.conbox{
	width: 100%;
}
.conh1 {
	color: #EB5443;
	text-align: center;
	font-size: 2em;
	font-family: "microsoft yahei";
	margin-bottom: 22px;
	line-height: 32px;
}
.subtit {
	color: #bfbfbf;
	font-size: 1.4em;
	display: block;
	text-align: center;
	width: 100%;
	padding: 10px 0px;
}
.oneInput {
	width: 90%;
}
.inputName {
	line-height: 40px;
	width: 20%;
	display: inline-block;
	text-align: right;
	margin: 0 3% 0 0;
	font-size: .95em;
	color: #a0a0a0;
}
.recruit_error {
	margin-left: 114px;
}
.text {
	width: 73%;
	line-height: 40px;
	border: 1px solid #b1b1b1;
	background:#fff;
	border-radius: 3px;
}
.yanzhengCode {
	border:1px solid #b0b0b0;
	background:#fff;
	border-radius: 0px;
}
.join_a {
	font-size: 20px;
	font-weight: 600;
	width: 83%;
	margin: 20px 7% 60px 14%;
	text-align: center;
	line-height: 40px;
	background-color: #EB5443;
	color: #fff;
	border: none;
	border-radius: 5px;
	background:url(../images/btn_bg.jpg) repeat;
}
.service_box {
	width: 100%;
}
.service_box1 {
	width: 100%;
}
.service_h3 {
	width: 100%;
}
.service_ul {
	width: 100%;
}
.service_h3 img {
	display: none;
}
.service_01 li {
	width: 100%;
}
.service_txt span {
	width: 100%;
}