@charset "utf-8";
/*头部样式*/
.com_nav{
    position: fixed;
    z-index: 100;
    height: 80px;
    background: #fcfcfd;
    top: 0px;
    left: 0px;
    width: 100%;
}
.com_middle_nav{
    width: 1004px;
    margin: 0 auto;
    height: 80px;
}
.com_nav_a_fl{
    color: #434343;
    font-size: 22px;
    display: inline-block;
    margin: 25px 65px 0 30px;
    float: left;
}
.com_nav_a_fr{
    font-size: 24px;
    color: #434343;
    display: inline-block;
    margin: 25px 0 0 116px;
}
.com_nav_a_fl:hover,.com_nav_a_fr:hover,.com_middle_nav .active{
    color: #e55443;
}
.com_nav_a_middle{
    float: left;
    margin: 1.5px 28px 0 0;
}
.com_nav_sign{
    position: fixed;
    height: 80px;
    top: 0;
    right: 25px;
    z-index: 101;
    width: 85px;
    color: #434343;
    font-size: 16px;
}
.com_nav_sign a{
    color: #434343;
}
.com_nav_sign span{
    float: left;
    padding: 0 8px;
}
.exit_a{
    display: none;
}
/*end 头部样式*/
/*头部导航*/
.nav{
    position: fixed;
    z-index: 100;
    height: 80px;
    background: #000;
    filter:alpha(opacity=40);
    -moz-opacity:0.4;
    opacity:0.4;
    top: 0px;
    left: 0px;
    width: 100%;
}
.middle_nav{
    width: 1004px;
    margin: 0 auto;
    height: 80px;
}
.nav_a_fl{
    font-size: 22px;
    color: #fff;
    display: inline-block;
    margin: 25px 65px 0 30px;
    float: left;
}
.nav_a_fr{
    font-size: 24px;
    color: #fff;
    display: inline-block;
    margin: 25px 0 0 135px;
    float: right;
}
.nav_a_middle{
    float: left;
    margin: 1.5px 28px 0 0;
}
.nav_sign{
    position: fixed;
    height: 80px;
    top: 0;
    right: 25px;
    z-index: 101;
    width: 85px;
    color: #fff;
    font-size: 16px;
}
.nav_sign a{
    color: #fff;
}
.nav_sign span{
    float: left;
    padding: 0 8px;
}
.nav_a_fl:hover,.nav_a_fr:hover,.middle_nav .active{
    color: #e55443;
}
/*end头部导航*/


/*尾部样式*/
.footer{
    background: #434343;
    padding: 60px 0 0;
    height: 229px;
    position: relative;
}
.middle_foot{
    width: 1004px;
    margin: 0 auto;
    height: 196px;
}
.footer_li1{
    color: #8e8d8d;
    font-size: 14px;
    margin: 0px 170px 0px 150px;
}
.footer_li2{
    width: 80px;
    font-size: 18px;
    color: #fefefe;
    text-align: center;
}
.footer_li2 p{
    width: 80px;
    font-size: 14px;
    color: #c7c7c7;
    padding: 3px 0;
}
.footer_li3{
    width: 330px;
    font-size: 18px;
    color: #fefefe;
    text-align: left;
    margin: 0 0 0 98px;
}
.footer_li3 p{
    font-size: 14px;
    color: #c7c7c7;
    padding: 3px 0;
}
.footer_bottom{
    font-size: 14px;
    color: #8e8d8d;
    text-align: center;
    float: left;
    width: 100%;
}
.mobile_foot{
    display: none;
}
/*end 尾部样式*/

/*登录弹出*/
.pop_sign {
    display: none;
    width: 550px;
    margin: 0 0 0 -275px;
    position: fixed;
    top: 15%;
    left: 50%;
    z-index: 202;
}
.bg_mask {
    background: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: alpha(opacity=38);
    -moz-opacity: 0.38;
    opacity: 0.38;
    width: 100%;
    z-index: 200;
}
.pop_sign .pop_store {
    border-radius: 13px;
    position: relative;
    z-index: 204;
    background: #f7f7f7;
}
.pop_sign .pop_title{
    height: 60px;
    background: #e7e7e7;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    color: #eb5443;
    font-size: 22px;
    line-height: 60px;
    padding: 0 20px;
}
.pop_sign .close {
    float: right;
    width: 23px;
    height: 60px;
    margin: 0 18px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/close.png) no-repeat right center;
}
.pop_sign .pop_box{
    padding: 25px 0 15px 25px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
}
.pop_sign .pop_box_l{
    width: 275px;
}
.pop_sign .phone{
    width: 225px;
    height: 40px;
    border:1px solid #b1b1b1;
    font-size: 13px;
    margin: 25px 0 10px;
    border-radius: 3px;
    background: #fff url(../images/input_icon.png) no-repeat 11px -20px;
    padding: 0 0 0 45px;
}
.pop_sign .password{
    width: 225px;
    height: 40px;
    border:1px solid #b1b1b1;
    font-size: 13px;
    margin: 0 0 10px;
    border-radius: 3px;
    background: #fff url(../images/input_icon.png) no-repeat 11px -75px;
    padding: 0 0 0 45px;
}
.pop_sign .lab_tips {
  display: inline-block;
  width: 95px;
  height: 22px;
  color: #cacaca;
}
.pop_sign .inp_checkbox{
  width: 18px;
  margin: -2px 2px 0 0;
  vertical-align: middle;
}
.pop_sign .forgot_ps{
    color: #0060ff;
    font-size: 14px;
}
.pop_sign .submit_input{
    width: 275px;
    height: 50px;
    background: #eb5443;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 4px;
    font-size: 22px;
    border:none;
    margin:25px 0 15px;
}
.pop_sign .registered_a{
    color: #eb5443;
    font-size: 13px;
}
.pop_sign .pop_box_r{
    width: 225px;
    text-align: center;
}
.pop_sign .pop_box_r span{
    color: #434343;
    font-size: 22px;
    font-weight: bold;
    display: block;
    width: 225px;
    padding: 0 0 20px;
}
.pop_sign .scan_code{
    width: 175px;
    background: #e7e7e7;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    text-align: center;
    color: #434343;
    margin:20px auto;
    font-size: 13px;
}
.pop_sign .scan_code em{
    color: #eb5443;
    font-style: normal;
}
.sign_error,.reg_error{
    color: #ff0000;
    display: none;
}
.service_error{
    color: #ff0000;
    display: none;
    margin-left: 96px;
    margin-bottom: 10px;
    padding: 0 0 10px;
}
/*end登录弹出*/
/*注册弹出*/
.pop_registered {
    display: none;
    width: 550px;
    margin: 0 0 0 -275px;
    position: fixed;
    top: 15%;
    left: 50%;
    z-index: 202;
}
.pop_registered .pop_store{
    border-radius: 13px;
    position: relative;
    z-index: 204;
    background: #f7f7f7;
}
.pop_registered .pop_title{
    height: 60px;
    background: #e7e7e7;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    color: #eb5443;
    font-size: 22px;
    line-height: 60px;
    padding: 0 20px;
}
.pop_registered .close {
    float: right;
    width: 23px;
    height: 60px;
    margin: 0 18px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/close.png) no-repeat right center;
}
.pop_registered .pop_box{
    padding: 25px 114px 15px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
}
.pop_registered .reg_phone{
    width: 275px;
    height: 40px;
    border:1px solid #b1b1b1;
    font-size: 13px;
    margin: 10px 0 10px;
    border-radius: 3px;
    background: #fff url(../images/input_icon.png) no-repeat 11px -20px;
    padding: 0 0 0 45px;
}
.pop_registered .reg_name{
    width: 275px;
    height: 40px;
    border:1px solid #b1b1b1;
    font-size: 13px;
    margin: 0 0 10px;
    border-radius: 3px;
    background: #fff url(../images/input_icon.png) no-repeat 11px -75px;
    padding: 0 0 0 45px;
}
.pop_registered .reg_ps,.pop_registered .reg_con_ps{
    width: 275px;
    height: 40px;
    border:1px solid #b1b1b1;
    font-size: 13px;
    margin: 0 0 10px;
    border-radius: 3px;
    background: #fff url(../images/input_icon.png) no-repeat 11px -75px;
    padding: 0 0 0 45px;
}
.pop_registered .reg_name{
    width: 275px;
    height: 40px;
    border:1px solid #b1b1b1;
    font-size: 13px;
    margin: 0 0 10px;
    border-radius: 3px;
    background: #fff url(../images/input_icon.png) no-repeat 9px -124px;
    padding: 0 0 0 45px;
}
.pop_registered .reg_code{
    width: 116px;
    height: 40px;
    border:1px solid #b1b1b1;
    font-size: 13px;
    margin: 0 0 10px;
    border-radius: 3px;
    background: #fff url(../images/input_icon.png) no-repeat 11px -20px;
    padding: 0 0 0 45px;
}
.pop_registered .take_code{
    width: 120px;
    height: 40px;
    background: #fff;
    border:1px solid #b1b1b1;
    font-size: 13px;
    text-align: center;
    line-height: 40px;
    color: #cacaca;
    border-radius: 3px;
}
.pop_registered .lab_tips {
    display: inline-block;
    width: 185px;
    height: 22px;
    color: #cacaca;
}
.pop_registered .inp_checkbox{
    width: 18px;
    margin: -2px 2px 0 0;
    vertical-align: middle;
}
.pop_registered .registered_input{
    width: 325px;
    height: 50px;
    background: #eb5443;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 4px;
    font-size: 22px;
    border:none;
    margin:25px 0 15px;
}
.pop_registered .sign_a{
    color: #eb5443;
    font-size: 13px;
}
/*end注册弹出*/
/*手机端*/
.mobile_div,.mobile_nav,.mobile_nav_ul,.mobile_foot{
    display: none;
}