body{
	  background: #f2f2f5;
	}


.box{
	 font-family:"microsoft yahei";
	 width:100%;
	 background: #f2f2f5;
}

.nav_area{
	font-family:"microsoft yahei";
	font-size:16px;
	line-height:40px;
	text-indent:2em;s

}
	
.box2{
	width:90%;
	margin: 50px auto 6px;
	padding:10px 0px;
	background:#fff;
    list-style-type:none;
    border-radius:5px;
}	
.box3{
	width:80%;
	margin: 0px auto 6px;
	padding:0px;
	background:#fff;
  list-style-type:none;
	padding: 0 30px
}

}
.title{
	font-family:"microsoft yahei";
	width:80%
	background-color:#fff;
	line-height:50px;
}

.title h1{
	  line-height: 80px;
	  text-align:center;
	  }

#post{
	font-family: "microsoft yahei";
	font-size:16px;
	line-height:40px;
	list-style-type:none;
	text-indent:2em;
	}
	
#post p{
	text-indent:2em;
}

#poat li{
	list-style-type:none;

	line-height:50px;
}


	
