@charset "utf-8";
.oneInput {
	line-height: 35px;
	margin: 10px auto;
	width: 52%;
}
.inputName {
	line-height: 40px;
	width: 20%;
	display: inline-block;
	text-align: right;
	margin: 0 10px;
	font-size: 16px;
	color: #a0a0a0;
}
.text {
	width: 73%;
	line-height: 40px;
    height:40px;
	border-radius: 3px;
	border: 1px solid #b1b1b1;
}
.recruit{
	width: 200px;
	height: 50px;
	border: 1px solid #ff8c82;
	color: #f96f6a;
	text-align: center;
	line-height: 50px;
	position: absolute;
	z-index: 99;
	top: 270px;
	left: 50%;
	margin: 0 0 0 -100px;
}
#name{
	height:40px;
	line-height:40px;
	padding-left:5px;
	}
	
#contact{
	height:40px;
	line-height:40px;
	padding-left:5px;
	}	
	
#tel{
	height:40px;
	line-height:40px;
	padding-left:5px;
	}	
	
#yanzheng{
	height:40px;
	line-height:40px;
	padding-left:5px;
	}	
	
#city{
	height:40px;
	line-height:40px;
	padding-left:5px;
	}	
	

.yanzhengInputBox {
	width: 74.5%;
	display: inline-block;
}
.yanzhengCode {
	margin-left: -3px;
	line-height: 40px;
	width: 49%;
     height:40px;
	border-radius: 3px;
	border: 1px solid #b1b1b1;
}
.get {
	border: solid 1px #B0B0B0;
	line-height: 40px;
	color: #fff;
	width: 44%;
	float: right;
	display: inline-block;
	text-align: center;
	height: 42px;
	line-height: 42px;
	background:#eb5443 url(../images/btn_bg.jpg) repeat;
	border-radius: 3px;
}
.join_a {
	font-size: 20px;
	font-weight: 600;
	width: 83%;
	margin: 20px 7% 60px 14%;
	text-align: center;
	line-height: 40px;
	background-color: #EB5443;
	color: #fff;
	border: none;
	border-radius: 5px;
}
.col-sm-2 {
	background-color: #fff;
}
.signInArea {
	text-align: center;
	width: 63%;
	margin: 0 auto;
}
.conbox_bg{
	background: url(../images/recruit_body.jpg) top center;
}
.conbox {
	width: 900px;
	margin: 0 auto;
}
.container {
	width: 100%;
}
.recruit_headimg {
	width: 100%;
	padding: 80px 0 0;
	position: relative;
}
.recruit_headimg img {
	width: 100%;
}
.conh1 {
	color: #EB5443;
	text-align: center;
	font-size: 50px;
	font-family: "microsoft yahei";
	margin-bottom: 22px;
	line-height: 110px;
	margin: 30px 0 0;
}
.recruit_error{
	color: #ff0000;
    display: none;
	margin-left: 298px;
}
.recruit_200 img{
	 width: 100%;
}
.recruit_foot {
	width: 100%;
	position: relative;
	background: #ebebeb;
	padding: 0 0 60px;
}
/*.recruit_foot img {
	width: 100%;*/
}
.footerh2 {
	margin: 0 auto;
	font-size: 45px;
	color: #EB5443;
}
.h2Box {
	position: absolute;
	top: 4%;
	left: 50%;
	width: 400px;
	margin: 0 0 0 -200px;
}
.service_box{
	width:1004px;
	top:20%;
	margin:0 auto;
	display:block;
	background: #ebebeb;
}
.service_box1{
	width:1004px;
	font-family:"microsoft yahei";
	font-size:30px;
	text-align:center;
	color: #EB5443;
	height:160px;
}
.service_h3{
	margin:0 auto;
	width:1004px;
	font-family:"microsoft yahei";
	font-size:36px;
	text-align:center;
	color: #EB5443;
	height:60px;
	padding:50px 0 0;
}
.service_h3 img{
	width:500px;
	margin:23px 0 50px 250px;
	display:block;
	text-align:center;
}
.service_ul{
	width:1004px;
}

.service_01 li{
	width:251px;
	float:left;
	text-align:center;
	display: block;
	padding: 0 0 20px;

	}
.service_txt span{
	font-size:20px;
	font-family: "microsoft yahei";
	font-size: 17px;
	font-family: "microsoft yahei";
	display: block;
	width: 251px;
	text-align: center;
	padding: 10px 0px;
	color: #eb5443;
	
	}
.subtit{
	color: #bfbfbf;
	font-size: 28px;
	display: block;
	text-align: center;
	width: 100%;
	padding: 20px 0px;
}
.subtit em{
	color: #fd3923;
	font-style: normal;
}